<div class="container">
    <div class="logo">Parallax</div>
    <div class="menu" [ngClass]="{menubig:menubig}" (click)="showMenu()">
        <div class="burgerMenu"   >
            <span></span>
        </div>
        <div class="menuList" [ngClass]="{menuListShow:menubig}" >
            <ul>
                <li routerLink = 'main'>Home</li>
                <li routerLink = 'portfolio'>Portfolio</li>
                <li routerLink = 'services'>Services</li>
                <li routerLink = 'services'>About us</li>
                <li routerLink = 'contacts'>Contacts</li>
            </ul>
        </div>
    </div>
</div>
