<div class="container">
    <div class="goToMain" routerLink="/main">
        <img src="/assets/img/next.svg" alt="">
        <img src="/assets/img/next.svg" alt="">
        <img src="/assets/img/next.svg" alt="">
        <span> повернутися на головну</span>
    </div>
    <div class="containerInside">
        <div class="site">
            <img src="/assets/img/works/neofoto/main.png" alt="">
        </div>
        <div class="site">
            <img src="/assets/img/works/bofi/main.png" alt="">
        </div>
        <div class="site">
            <img src="/assets/img/works/liketechno/Annotation 2020-03-13 103105.png" alt="">
        </div>
    </div>
</div>
