<div class="container">
    <div class="goToMain" routerLink="/main">
        <img src="/assets/img/next.svg" alt="">
        <img src="/assets/img/next.svg" alt="">
        <img src="/assets/img/next.svg" alt="">
        <span> повернутися на головну</span>
    </div>
    <div class="containerInside">
        <div class="site" *ngFor="let item of projectArray" >
            <img class="imgBg" src="{{item.arrayImages[0].path}}" alt="">
            <div class="darkHover">
                <div class="nameSite">{{item.name}}</div>
                <div class="themesSite">{{item.category}}</div>
                <div class="subscribeSite">{{item.desc}}</div>
                <div class="linkSite">
                    <a href="{{item.link}}" target="_blank">Перейти до сайту</a>
                    <span><img src="/assets/img/next.svg" alt=""></span>
                    <span><img src="/assets/img/next.svg" alt=""></span>
                    <span><img src="/assets/img/next.svg" alt=""></span>
                </div>
            </div>
        </div>
    </div>
</div>