<div class="container">
    <div class="menu" [ngClass]="{menubig:menubig}" (click)="showMenu()">
        <span *ngIf="!menubig" id="menuHint">Меню</span>
        <div class="burgerMenu">
            <span></span>
        </div>
        <div class="menuList" [ngClass]="{menuListShow:menubig}">
            <ul>
                <li (click)="scrollPoint('main')">Головна</li>
                <li (click)="scrollPoint('aboutUs')">Про нас</li>
                <li (click)="scrollPoint('portfolio')">Наші роботи</li>
                <li (click)="scrollPoint('services')">Послуги</li>
                <li (click)="scrollPoint('whyWe')">Чому ми?</li>
                <li (click)="scrollPoint('contacts')">Контакти</li>
            </ul>
        </div>
    </div>
    <div class="parallaxBg" [ngStyle]="{'transform': 'translateY(-' + posImg + 'px)'}">
        <img *ngIf="ImgParallax" src="/assets/img/bgParallax.jpg" alt="">
        <img *ngIf="!ImgParallax" src="/assets/img/bg2Parallax.jpg" alt="">
    </div>
    <div class="videoBg">
        <div class="darkHover">
            <div class="mainTitle"></div>
            <div class="smallTitle">
                <p>Надаємо комплексні послуги з просування бізнесу в інтернеті: дизайн, cтворення сайтів, підтримка
                    сайту</p>
            </div>
        </div>

        <video id="video" width="100%" height="auto" preload="auto" loop="loop" muted
            poster="/assets/img/poster.png">
            <source src="/assets/video/bg.mp4" type="video/mp4">
            <source src="/assets/video/bg.webm" type="video/webm">
        </video>
    </div>
    <div class="aboutUs">
        <div class="title">
            <p>Про нас</p>
        </div>
        <div class="text">
            <p>Команда досвідчених спеціалістів, дозволяє нам вирішувати задачі будь-якої складності, та
                задовільнити найскладніші запити бізнесу.</p>
        </div>
        <div class="technologis">
            <p>Технології які ми використовуємо:</p>
            <img src="/assets/img/angular.png" alt="">
            <img src="/assets/img/react.png" alt="">
            <img src="/assets/img/bootstrap.png" alt="">
            <img src="/assets/img/image.png" alt="">
            <img src="/assets/img/js.png" alt="">
            <img src="/assets/img/node.js.png" alt="">
            <img src="/assets/img/mongodb.png" alt="">
            <img src="/assets/img/figma.png" alt="">
            <img src="/assets/img/redux.png" alt="">

        </div>

    </div>
    <div class="ourWorks">
        <div class="title">
            <p>Наші останні роботи</p>
        </div>
        <div class="workPart" *ngFor="let item of randomProjectArray">
            <img class="imgBg" src="{{item.arrayImages[0].path}}" alt="">
            <div class="darkHover">
                <div class="nameSite">{{item.name}}</div>
                <div class="themesSite">{{item.category}}</div>
                <div class="subscribeSite">{{item.desc}}</div>
                <div class="linkSite">
                    <a href="{{item.link}}" target="_blank">Перейти до сайту</a>
                    <span class="arrow1"><img src="/assets/img/next.svg" alt=""></span>
                    <span class="arrow2"><img src="/assets/img/next.svg" alt=""></span>
                    <span class="arrow3"><img src="/assets/img/next.svg" alt=""></span>
                </div>
            </div>
            <img src="/assets/img/works/neofoto/main.png" alt="">
        </div>
        <button routerLink='/portfolio'>Переглянути більше </button>
    </div>
    <div class="services">
        <div class="title">
            <p>Послуги</p>
        </div>
        <div class="servDesign servPart">
            <h3>UI та UX дизайн сайту</h3>
            <p>Створення індивідуального дизайну відповідно до потреб замовника. Оригінально, креативно, красиво,
                функціонально.</p>
            <img src="/assets/img/services/disign.jpg" alt="">
            <div class="darkHover"></div>
        </div>
        <div class="servSiteDev servPart">
            <h3>Розробка сайту</h3>
            <p>

                - Інтернет магазин<br>
                - Сайт візитка<br>
                - Сайт каталог<br>
                - Односторінковий сайт<br>
                - Корпоративний сайт<br>

            </p>
            <img src="/assets/img/services/develop.jpg" alt="">
            <div class="darkHover"></div>
        </div>
        <div class="servHosting servPart">
            <h3>Розміщення сайту на власному хостінгу</h3>
            <p>Розміщуємо сайт на нашому хостингу, який розташований в Німеччині. Хостинг швидкий і безпечний.
                Зберігання на SSD дисках</p>
            <img src="/assets/img/services/clouds.jpeg" alt="">
            <div class="darkHover"></div>
        </div>
        <div class="servDomain servPart">
            <h3>Реєстрація домену (імені)</h3>
            <p>Реєструємо доменне ім'я в Інтернеті, як в міжнародних доменних зонах так і в Україні. Допомагаємо із
                вигадуванням хорошего імені для сайту.</p>
            <img src="/assets/img/services/domain.jpg" alt="">
            <div class="darkHover"></div>
        </div>
        <div class="support servPart">
            <h3>Подальша тех-підтримка сайту</h3>
            <p>Здійснюємо тех-підтримку сайту після передачі замовнику. Доробляємо, переробляємо за бажанням.</p>
            <img src="/assets/img/services/support.jpg" alt="">
            <div class="darkHover"></div>
        </div>
        <div class="tea servPart">
            <h3>Запропонуємо відділено попити чаю :)</h3>
            <p>Можемо пригостити смачнючою кавою або чаєм при оформленні замовлення :)</p>
            <img src="/assets/img/services/tea.jpg" alt="">
            <div class="darkHover"></div>
        </div>
    </div>


    <div class="whyWe">
        <div class="title">
            <p>Чому варто обрати нас?</p>
        </div>
        <div class="servDesign whyPart">
            <h3>Повний цикл розробки</h3>
            <p>Включаючи від встановення цілей до запуску проекту на для роботи на благо замовника</p>
            <img src="/assets/img/whyWe/cikl.jpg" alt="">
            <div class="darkHover"></div>
        </div>
        <div class="servSiteDev whyPart">
            <h3>Якість виконання!</h3>
            <p></p>
            <img src="/assets/img/whyWe/quality.jpg" alt="">
            <div class="darkHover"></div>
        </div>
        <div class="servHosting whyPart">
            <h3>Виконуємо у встановлені сроки.</h3>
            <p></p>
            <img src="/assets/img/whyWe/time.jpg" alt="">
            <div class="darkHover"></div>
        </div>
        <div class="servDomain whyPart">
            <h3>Професійність</h3>
            <p></p>
            <img src="/assets/img/whyWe/profi.jpg" alt="">
            <div class="darkHover"></div>
        </div>
        <div class="support whyPart">
            <h3>Низькі адекватні ціни</h3>
            <p></p>
            <img src="/assets/img/whyWe/sale.jpg" alt="">
            <div class="darkHover"></div>
        </div>
        <div class="tea whyPart">
            <h3>Пропонуємо смачний чай :)</h3>
            <p>Можемо пригостити смачнючою кавою або чаєм при оформленні замовлення :)</p>
            <img src="/assets/img/services/tea.jpg" alt="">
            <div class="darkHover"></div>
        </div>
        <p></p><br>
    </div>
    <div class="contacts">
        <div class="title">
            <p>Контакти</p>
        </div>
        <div class="feedbackForm">
            <form action="">
                <div>
                    <p>*Ваше імя:</p>
                    <input type="text">
                    <p>*Ваш телефон:</p>
                    <input type="text">
                    <p>*Ваше email:</p>
                    <input type="text">
                </div>
                <div>
                    <p>*Ваше повідомлення</p>
                    <textarea name="" id="" cols="20" rows="10"></textarea>
                </div>
                <button>Відправити</button>
            </form>
        </div>
        <div class="contactsMini">
            <p>тел. +38(097) 945 53 18 Kyivstar</p>
            <p>тел. +38(066) 603 86 28 Vodafon</p>
            <p>email: roman120487@gmail.com</p>
        </div>

    </div>
    <div *ngIf="scrollBtn" [ngClass]="{arrowUp:arrowUp}" class="goUpBtn" (click)="scrollUp()">
        <img src="/assets/img/up-arrow.svg" alt="">
    </div>
</div>