<div class="container">
    <div class="parallaxBg">
        <img src="/assets/img/bgParallax.jpg" alt="">
    </div>
    <div class="videoBg">
        <video width="100%" height="auto" preload="auto" autoplay="autoplay" loop="loop" poster="">
            <source src="/assets/video/bg.mp4" type="video/mp4">
            <source src="/src/assets/video/bg.mp4" type="video/webm">
        </video>
    </div>
    <div class="aboutUs">
        <div class="title">
            <p>Про нас</p>
        </div>
    </div>
    <div class="services">
        <div class="title">
            <p>Наши работы</p>
        </div>
    </div>
</div>